body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: scroll;
}

a {
  color: #00B7FF;
}

.yo{
  width:310px;
  max-width:310px;
  height: 540px;
  background-color: GrayText;
}

.img{
    height:350px;
    width:300px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.pic{
  height:370px;
  width:1400px;
}

